<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rundenzähler</title>
    <link rel="icon" type="image/x-icon" href="/img/smv.png">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/event.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/js/network.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
          <h1>Rundenzähler</h1>
          <div>
            <div class="flex-container">
              <div class="box">
                <h2>Aktueller Lauf</h2>
                <button class="floating-button" v-on:click="update">Refresh</button>
                <p>Wähle erst die aktuelle Runde aus:</p>
                <div class="dropdownMenu">
                  <select v-model="selectedRun" class="selectCN">
                    <option v-for="run in runs" :value="run">{{run.title}}</option>
                  </select>
                </div>
                <div>
                  <h3>Logbuch</h3>
                  <table v-if="log.length">
                    <th>Läufer</th>
                    <th>Aktion</th>
                    <tr v-for="(logEntry, index) in log"><td><b>{{logEntry.id}}</b></td><td>{{logEntry.text}}</td><td class="removable" v-on:click="revert(index)"><u>Rückgängig machen</u></td></tr>
                  </table>
                  <p v-else class="no-actions"><i>Noch keine Aktionen</i></p>
                </div>
              </div>
              <div class="box input-method">
                <h3>Manuelle Eingabe</h3>
                <label for="id"><span>Läufer-ID</span></label>
                <input class="custom-input" type="number" name="id" id="id"><br>
                <button style="margin-top: 15px" v-on:click="addRoundGetID">Runde zählen</button>
              </div>
              </div>
              <div class="">
                <h3>Eingabe über Buttons</h3>
                <button v-bind:class="{btnRed: !correctionMode}" v-on:click="correctionMode = !correctionMode">Korrekturmodus / Runde entfernen</button>
                <div class="runner-container" v-if="selectedRun">
                    <div class="runner" v-for="runner in runnersSorted" v-on:click="addOrRemove(runner.number)" v-bind:class="{remove: correctionMode}">
                        <div class="number">{{runner.number}}</div>
                        <div>{{runner.name}}</div>
                        <div class="rounds"><i><b>{{ runner.rounds }}</b> {{rundenString(runner.rounds)}}</i></div>
                    </div>
                </div>
              </div>
            </div>
          </div>                   
        <div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/event.js"></script>
</body>
</html>
