<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Läuferverwaltung</title>
    <link rel="icon" type="image/x-icon" href="/img/smv.png">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/runners.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/js/network.js"></script>
</head>
<header>
  <b>Läuferverwaltung</b>
</header>
<body>
    <div id="app">
        <div class="container">
          <div class="flex-container">
            <div class="box">
              <h2>Jahrgang-Übersicht</h2>
              <button class="floating-button" v-on:click="update">Refresh</button>
                <div class="dropdownMenu custom-select">
                  <select v-model="selectedJahrgang" class="selectCN">
                    <option v-for="jahrgang in jahrgaenge" :value="jahrgang">{{jahrgang.name}}</option>
                  </select>
                </div>
                <div class="dropdownMenu" v-if="selectedJahrgang">
                  <select v-model="selectedClass" class="selectCN">
                    <option v-for="classs in selectedJahrgang.classes" :value="classs">{{classs.name}}</option>
                  </select>
                </div>
                <table v-if="selectedClass">
                    <tr>
                      <th>Nr.</th>
                      <th>Läufer</th> 
                      <th>Rudenbetrag</th>
                      <th>Sponsoren</th>
                      <th>Runden</th>
                      <th>Gesammt (berechnet)</th>
                    </tr>
                    <tr v-for="runner in selectedClass.runners">
                      <td>{{runner.number}}</td>
                      <td class="removable" v-bind:class="{payed: runner.payed}" v-on:click="deleteRunner(runner.number)">{{runner.name}}</td> 
                      <td class="table-right euro" v-bind:class="{fixed: runner.festbetrag}">{{formatEuro(runner.per_round)}}</td>
                      <td class="table-right">{{runner.sponsors}}</td>
                      <td class="table-right">{{runner.rounds}}</td>
                      <td class="table-right euro" style="color: green">{{formatEuro(runner.amount_raised)}}</td>
                    </tr>
                </table>
                <div v-if="downloadLoadingClass">
                  <p><i>Generating... </i></p>
                </div>
                <div v-else>
                  <button style="margin-top: 15px" v-on:click="generateClassPDF">PDF dieser Klasse generieren</button>
                  <button style="margin-top: 15px; background-color: lightgreen;" v-if="downloadFilenameClass && selectedClass == downloadClass"><a v-bind:href="'/admin/pdf/' + downloadFilenameClass" v-bind:download="downloadFilenameClass">Download</a></button>
                </div>
                <div v-if="downloadLoadingAll">
                  <p><i>Generating... </i></p>
                </div>
                <div v-else>
                  <button style="margin-top: 15px" v-on:click="generateAllPDF">PDF aller Läuferdaten generieren</button>
                  <button style="margin-top: 15px; background-color: lightgreen;" v-if="downloadFilenameAll"><a v-bind:href="'/admin/pdf/' + downloadFilenameAll" v-bind:download="downloadFilenameAll">Download</a></button>
                </div>
                <table v-if="selectedJahrgang">
                    <tr>
                      <th>JAHRGANG GESAMMT</th>
                    </tr>
                    <tr>
                      <td class="table-right euro" style="color: green">{{ formatEuro(selectedJahrgang.amount_raised) }}</td>
                    </tr>
                </table>
            </div>
            <div id="form" class="box">
              <div v-if="!payment">
                <h2>Neuen Läufer anlegen</h2>
                <p id="output" v-if="output">{{ output }}</p> 
                <label for="name" class="label"><span>Name</span></label>
                <input type="text" name="name" id="name">
                <label for="per_round" class="label"><span>Betrag pro Runde</span></label>
                <input type="number" name="per_round" id="per_round"><br>
                <div class="checkbox">
                  <input v-model="fixed" type="checkbox" name="fixed" id="fixed">
                  <label for="fixed" style="margin-left: 10px;"><span>Festbetrag</span></label><br>
                </div>  
                <button style="margin-top: 15px" v-on:click="create">Anlegen</button>
              </div>
              <div v-else style="margin-top: 30px;">
                <h2>Bezahlung</h2>
                <p v-if="paymentError" id="error">{{paymentError}}</p> 
                <label for="runneId" class="label"><span>Läufer-ID</span></label> 
                <input style="margin-right: 15px;" type="number" name="runnerId" id="runnerId"><button class="buttonSmall" v-on:click="getPaymentData">Abrufen</button><br>
                <div v-if="paymentData">
                  <p><b>Name: </b>{{paymentData.name}}</p>
                  <p><b>Ausstehender Betrag: </b>{{formatEuro(paymentData.pending)}} €</p>
                  <button style="background-color: lightgreen;" v-on:click="setPayment">Bezahlung bestätigen</button>
                </div>
              </div>
            </div>
          </div>                   
        <div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/runners.js"></script>
</body>
</html>