<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Läuferverwaltung</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/runners.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <script src="/js/network.js"></script>
</head>
<header><b>Läuferverwaltung</b></header>
<body>
    <div id="app">
        <div class="container">
          <div class="flex-container">
            <div class="box">
              <h2>Jahrgang-Übersicht</h2>
              <button class="floating-button" v-on:click="update">Refresh</button>
                <div class="dropdownMenu">
                  <select v-model="selectedJahrgang" class="selectCN">
                    <option v-for="jahrgang in jahrgaenge" :value="jahrgang">{{jahrgang.name}}</option>
                  </select>
                </div>
                <div class="dropdownMenu" v-if="selectedJahrgang">
                  <select v-model="selectedClass" class="selectCN">
                    <option v-for="classs in selectedJahrgang.classes" :value="classs">{{classs.name}}</option>
                  </select>
                </div>
                <table v-if="selectedClass">
                    <tr>
                      <th>Nr.</th>
                      <th>Läufer</th> 
                      <th>Rudenbetrag</th>
                      <th>Runden</th>
                      <th>Gesammt (berechnet)</th>
                    </tr>
                    <tr v-for="runner in selectedClass.runners">
                      <td>{{runner.number}}</td>
                      <td class="removable" v-on:click="deleteRunner(runner.number)">{{runner.name}}</td> 
                      <td class="table-right euro">{{formatEuro(runner.per_round)}}</td>
                      <td class="table-right">{{runner.rounds}}</td>
                      <td class="table-right euro" style="color: green">{{formatEuro(runner.amount_raised)}}</td>
                    </tr>
                </table>
                <table v-if="selectedJahrgang">
                    <tr>
                      <th>JAHRGANG GESAMMT</th>
                    </tr>
                    <tr>
                      <td class="table-right euro" style="color: green">{{ formatEuro(selectedJahrgang.amount_raised) }}</td>
                    </tr>
                </table>
            </div>
            <div id="form" class="box">
              <h2>Neuen Läufer anlegen</h2>
              <label for="name"><span>Name</span></label>
              <input type="text" name="name" id="name">
              <label for="per_round"><span>Betrag pro Runde</span></label>
              <input type="number" name="per_round" id="per_round"><br>
              <button style="margin-top: 15px" v-on:click="create">Anlegen</button>
            </div>
          </div>                   
        <div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="/js/runners.js"></script>
</body>
</html>