
html {
    background-color: #46424f;
    color: white;
    font-family: "Plus Jakarta Sans", "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.container {
    background-color: #1a1625;
    padding: 20px;
    margin-top: 75px;
    border-radius: 12px;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin-right: 100px;
    margin-bottom: 40px;
}

table, th, td {
    border:1px solid gray;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}

table {
    margin-top: 1rem;
}

th, td {
    padding: 2px 10px;
}

.table-right {
    text-align: right;
}

.floating-button {
    position: absolute;
    right: 30px;
    top: 25px;
}

button {
    background-color: #a688fa;
    color: black;
    border-style: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.buttonSmall {
    padding: 5px 7px;
    border-radius: 6px;
}

.btnRed {
    background-color: lightcoral;
}

header {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    font-size: 2.1rem;
    background-color: #46424f;
    padding: 1rem 30px;
}

.custom-select {
    min-width: 350px;
  }
  
select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    font-size: 0.9rem;
    padding: 0.3em 0.5em 0.3em 0.7em;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.footer {
    background-color: #1a16255e;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.footer p {
    display: inline;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 0.85rem;
}

a {
    color: lightblue
}

.checkbox {
    margin-top: 15px;
}

@media only screen and (max-width: 992px) {
    header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    button {
        margin-bottom: 10px;
    }

    .footer {
        padding-left: 1.8rem;
        padding-bottom: 0.6rem;
        padding-top: 0.4rem;
    }
    
    .footer p {
        margin-right: 7px;
        font-size: 0.4rem;
    }
}