html {
    background-color: #192841;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.container {
    padding: 5px 20px;
}

table, th, td {
    border:1px solid gray;
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
}

table {
    margin-top: 1rem;
}

th, td {
    padding: 2px 10px;
}

.table-right {
    text-align: right;
}

.floating-button {
    position: absolute;
    right: 30px;
    top: 25px;
}