@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

#form label {
    display: block;
    margin-top: 15px;
}



body {
  color: white;
  /* font-family: JetBrains Mono; */
  font-size: 18;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin-right: 100px;
}

.removable:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    background-color: red;
}

.euro::after {
    content: " €"
}