@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

.label {
    display: block;
    margin-top: 15px;
}

body {
  color: white;
  /* font-family: JetBrains Mono; */
  font-size: 18;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.removable:hover {
    color: white;
    cursor: pointer;
    text-decoration: underline;
    background-color: red;
}

.euro::after {
    content: " €"
}

#output {
    background: #16e33131;
    padding: 5px 10px;
    border-radius: 10px;
    color: #16e331;
    margin: 1.5rem 0;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    width: 90%;
    max-width: 300px;
  }

.dropdownMenu {
    margin-bottom: 10px;
}

.fixed {
    background-color: lightblue;
}